/* myStyle.css */

p
{
    color: blue;
    /* background-color: yellow; */
}

p.aboutme
{
  color: black;
  margin-left: 2%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 14pt;
}

p.video
{
  text-align: center;
}
h1.title
{
    color: green;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 22pt;
    text-align: center;
    width: auto;
    width: auto\9;
}


img.tyranitar
{
  margin-left: 30%;
  max-width: 100%;
  width: auto;


}

div.white
{
  /* position: relative; */
  margin-left: 31%;
  background-image: url(white.png);
    max-width: 100%;
    height: auto;
    width: 40%;


}

body
{

background-image:url(pokeball.jpg);

background-size: 14.2%;
background-repeat: repeat;
background-attachment: fixed;
background-position: relative;

max-width: 100%;
height: auto;
width: auto\9;

}

a
{
    background-color: white;
    color: black;
}

a:hover
{
    background-color: white;
    color: darkblue;
}
